PORT=3000
BASE_URL=http://localhost:3000
DATA_FILE=./data/app-db.json

WOOCOMMERCE_BASE_URL=https://your-store.example.com
WOOCOMMERCE_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxx
WOOCOMMERCE_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxx
WOOCOMMERCE_WEBHOOK_SECRET=your_woocommerce_webhook_secret

WASENDER_BASE_URL=https://www.wasenderapi.com/api
WASENDER_API_TOKEN=your_wasender_api_token
WASENDER_WEBHOOK_SECRET=your_wasender_webhook_secret
WASENDER_SIGNATURE_HEADER=x-wasender-signature

DELIVERY_ETA_CASABLANCA=24h
DELIVERY_ETA_OTHER_CITIES=2 a 3 jours ouvrables
DEFAULT_DELIVERY_CITY_LABEL=Maghrib
CONFIRMATION_MESSAGE_TEMPLATE=Salam {{customerName}}, twsselna b la commande dyalk.\nNumero dyal La commande: {{orderId}}\nLa commande dyalk: {{orderItemsSummary}}\nPrix total: {{orderTotal}}\nLadresse: {{deliveryAddress}}\nLmdina: {{deliveryCity}}\nTawsil: {{deliveryEta}}\nFach ghatwsl la commande dyalk lmdina dyalk, livreur ghay3eyet 3lik fhad numero dyal telephone, w tma t9dr tressi m3ah fin yji 3endek yjiblik la command, Lkhlas 3nd l-istilam.\n\n-Ila mtaf9 m3a had chi kaml, wbghiti tconfirmer la commande jawb b "1". \n-Ila ma bqitich bghiti la commande, jawb b "2".\n-Ila 3endek chi question, seft la question dyalk l had numero: +212 708-357533
INVALID_REPLY_MESSAGE=3afak jawb ghir b 1 bash t confirmer la commande, wela b 2 bach t annuler la commande.\n\nIla 3endek chi question, seft la question dyalk l had numero: +212 708-357533
CONFIRMED_REPLY_MESSAGE=Chokran, la commande dyalk t confirmat. Ghadi ytwasl m3ak livreur mli twsl la commande lmdintk.
CANCELLED_REPLY_MESSAGE=La commande dyalk t annulat.
